<h1>Add a new recipe!</h1>

<%= form_for @recipe do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :directions %>
        <%= f.text_field :directions %>
    </div>

    <div>
        <%= f.label :ingredients %>
        <%= f.text_field :ingredients %>
    </div>
    <div>
        <%= f.label :photo_date %>
        <%= f.date_field :photo_date %>
    </div>

    <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    

    <%= f.submit "Add new recipe!" %>


<%= link_to "Back to the list!", recipes_path %>

<% end %>
